.comments-box.reply {
	flex-direction: column-reverse;
	display: none;
}

.reply.active {
	display: flex !important;
}

.add-comment {
	background-color: lightgray;
	border: 1px solid lightgreen;
	padding: 10px;
}

.comment {
	border: 1px solid gray;
	padding: 4px 20px;
	text-align: left;
}

.comment.deleted {
	background-color: lightgray;
}

.comment.deleted::before {
	content: '삭제된 댓글입니다';
	color: gray;
	font-size: 0.8rem;
	text-indent: 30px;
	padding: 10px;
}

.comment-owner {
	display: flex;
	justify-content: space-between;
}

.comment-user {
	flex-grow: 1;
}

.comment-owner * {
	color: gray;
	font-size: 0.8rem;
	margin: 0;
	padding: 0;
}

.comment-text {
	margin: 0;
}