#header {
	background-color: green;
	padding: 20px;
}

#login-out {
	float: right;
}

.header-title {
	text-align: center;
	color: white;
}

#search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search-box > input {
	width: calc(100% - 80px);
	text-indent: 8px;
}