#header {
	background-color: lightpink;
	padding: 20px;
}

#login-out {
	display: flex;
	justify-content: space-between;
	position: relative;
}

.button-home {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
	color: green;
	font-weight: 700;
}

.header-title {
	margin-top: 0;
	text-align: center;
	color: white;
}

#search-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#search-box > input {
	width: calc(100% - 80px);
	text-indent: 8px;
}

/*UserInfo*/
.user-info-box {
	visibility: hidden;
	position: absolute;
	top: 30px;
	right: 0;

	background-color: lightyellow;
	border: 1px solid yellow;
	border-radius: 8px;
	width: 300px;
	padding: 10px;
	box-shadow: 0 8px 4px 4px gray;
}

.user-info-box.active {
	visibility: visible;
}