.login-box {
	display: inline-block;
	margin-top: 40px;
	padding: 20px;
	border: 4px solid green;
}

.login-box * {
	margin-bottom: 6px;
}

.wrong-password {
	color: gray;
	font-size: 0.8em;
	border: 1px solid lightgreen;
	border-radius: 4px;
}

.outer-login {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cannot-login {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
