.category {
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
}

.category li {
	display: inline-block;
	width: 25%;
	text-align: center;
	border: 1px solid green;
}

.category .active {
	background-color: lightgreen;
	font-weight: 700;
}

.sort-button {
	text-align: right;
}

.sort-button > button {
	margin-left:10px;
}

.sort-button > .active {
	font-weight: 700;
	color: blue;
}

/*main*/
.post-main {
	height: 190px;
}

.outer-post {
	display: flex;
	align-items: center;
	border: 1px solid lightgray;
	border-radius: 4px;
	margin: 2px;
	padding: 4px;
	cursor: pointer;
}

.outer-post > * {
	margin: 0;
}

.outer-post-category {
	width: 40px;
}

.outer-post-title {
	text-align: left;
	text-indent: 20px;
	margin: 0;
	flex-grow: 1;
}

.comment-number {
	margin-left: 10px;
	font-weight: 400;
	color: gray;
}

.comment-number::before{
	content: "[";
}
.comment-number::after{
	content: "]";
}

.post-date {
	color: gray;
	font-size: 0.8rem;
}